<!DOCTYPE html>
<html lang="en">
<head>
    <!--设置网页编码格式-->
    <meta charset="UTF-8">
    <!--设置网页标题-->
    <title>Title</title>
    <!--js的使用方式1：引入js文件，在js中写代码-->
    <script type="text/javascript" src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.js"></script>
    <!--js的使用方式2:在html中书写-->
    <script>
        //书写js代码
    </script>
    <!--css的使用方式1：引入css文件-->
    <link rel="stylesheet" href="替换为css文件路径">
    <!--css的使用方式2：在html中书写-->
    <style>
        /*书写css内容 */
        div{
          color: deepskyblue;
        }
    </style>
</head>
<body background="http://1822.img.pp.sohu.com.cn/images/blog/2008/6/27/22/5/11b6fadec88.jpg">
<span >实验</span>
<div id="container" style="width:500px">

    <div id="header" style="background-color:lightblue;">
        <h1 style="margin-bottom:0;">个人博客</h1></div>

    <div id="menu" style="background-color:darkseagreen;height:300px;width:100px;float:left;">
        <b>菜单</b><br>
        排序<br>
        Java<br>
        python</div>

    <div id="content" style="background-color:white;height:300px;width:400px;float:left;">
        内容</div>

    <div id="footer" style="background-color:#FFA500;clear:both;text-align:center;">
        </div>

</div>

<form>
<p>hello</p>
    <input type="submit" value="提交">

    <div style="margin-bottom: 5px; background: antiquewhite" >
        <input type="radio" name="sex" value="male">男
    </div>
    <div style="margin-bottom: 5px; background: antiquewhite" >
    <input type="radio" name="sex" value="female">女
        </div>
</form>
<hr>
<div style="color: red"> 喵喵喵</div>
<hr>
<form action="xxx">
    <select name="cars">
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="fiat">Fiat</option>
        <option value="audi">Audi</option>
    </select>
    <input type="submit" value="提交">
</form>
</body>
</html>