<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人简历</title>
</head>
<body>
<h1>双双的简历</h1>
<hr>
<h3>个人信息</h3>
<table border="0">
    <tr>
        <td >姓名: 双双</td>
        <td>年龄: 20</td>
    </tr>
    <tr>
        <td>学校: 西安工业大学</td>
        <td>专业: 软件工程</td>
    </tr>
    <tr>
        <td>Github:</td>
        <td>CSDN:</td>
    </tr>
</table>
<hr>
<h3>专业技能</h3>
<ul>
    <li>熟悉Java基础语法</li>
    <li>熟悉数据库操作</li>
    <li>熟悉Linux</li>
    <li>熟悉网络基础原理</li>
</ul>
<hr>
<h3>项目经历</h3>
<div>
    <h5>项目名称：个人博客项目</h5>

        <p>项目简介:xxx</p>
        <p>开发环境:Maven,Idea,Windows</p>
        <p>技术栈:Servlet,Mysql,UEditor,Jackson</p>
        <p>项目描述</p>
   <ul>
       <li>使用xx技术完成了xx功能</li>
       <li>使用xx技术完成了xx功能</li>
       <li>使用xx技术完成了xx功能</li>
   </ul>
</div>
</body>
</html>